.closed-btn:hover,
.closed-photography-section::before,
.popular-btn:hover,
.popular-icon,
.owl-carousel .owl-nav button.owl-next, 
.discover-btn:hover,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next:hover, 
.owl-carousel .owl-nav button.owl-prev:hover,
.mybtn1:hover,
header{
    background-color: #d70d25;
}

.featured-overlay,
.mybtn2,
.mybtn1,
.title-text{
    color: #d70d25;
}


.plans-divider,
.home-section .divider{
    border: 2px solid #d70d25;
}


.closed-btn,
.discover-btn,
.popular-btn{
    outline: 1px solid #d70d25;
}