.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next:hover, 
.owl-carousel .owl-nav button.owl-prev:hover,
.mybtn1:hover,
header{
    background-color: #d70d25;
}

.featured-overlay,
.mybtn2,
.mybtn1,
.home-section .title-text{
    color: #d70d25;
}



.home-section .divider{
    border: 2px solid #d70d25;
}
