@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}

header .navbar{
    padding: 0;
}

header .navbar .navbar-brand{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.logo-circle{
    height: 26px;
    width: 26px;
    border: 4px solid #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: -2px;
    position: relative;
}

.logo-circle::before{
    content: '';
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
}

header .navbar #navbarSupportedContent .nav-item .nav-link{
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 20px 15px 20px;
    line-height: 26px;
    opacity: .6;
}

header .navbar #navbarSupportedContent .nav-item .nav-link.active{
    opacity: 1;
}


/* home-section */
.home-section{
    padding: 80px 0 80px;
    background-image: url('/images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative;
    z-index: 1; */
    height: 90vh;

}

/* .home-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .40;
} */

.home-section .title{
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.home-section p{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.home-section .divider{
    margin: 30px 0;
    border-radius: 4px;
}



.mybtn1{
    background-color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 600;
}

.mybtn1:hover{
    color: #ffffff;
}

.mybtn2{
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 600;
}

.mybtn2:hover{
    background-color: #ffffff;
}

/* features-section */
.features-section{
    margin-top: -150px;
}

.features-section img{
    border-radius: 20px;
}
.features-section .featured-img{
    border: 1px solid #dddde3;
    position: relative;
    border-radius: 20px;
}

.features-section .featured-img .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    transition: all 0.5s ease;
    opacity: 0;
}

.features-section .featured-img:hover .overlay{
    opacity: 1;
}

.features-section .featured-img .overlay .featured-overlay{
    margin: auto;
    text-align: center;
}
.featured-overlay h2{
    font-size: 25px;
    margin-right: 8px;
}
.featured-overlay i{
    font-size: 20px;
    margin-top: -6px;
}

.featured-overlay p{
    font-size: 17px;
    margin: 0;
    padding: 4px 0px;
}


.owl-prev{
    left: -30px;
}
.owl-next{
    right: -30px;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 115px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-next:hover, 
.owl-carousel .owl-nav button.owl-prev:hover{
    opacity: .8;
}

.owl-carousel .owl-nav button.owl-next span, 
.owl-carousel .owl-nav button.owl-prev span{
    font-size: 50px;
    color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.contest-categories-section{
    padding: 80px 0 80px;
}


.popular-icon{
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 20px;
    opacity: .87;
}

.card{
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.popular-img{
    width: 100%;
    padding: 20px 0px;
    
}

.popular-text{
    background-color: red;
    padding: 3px 6px;
    border-radius: 5px;
    color: #ffffff;
}

.discover{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: end;
    justify-content: center;
}
.closed-button{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px;
}

.discover-btn{
    padding: 10px 50px;
}
.discover-btn:hover{
    color: #ffffff;
}

.closed-btn{
    padding: 10px 50px;
}
.closed-btn:hover{
    color: #ffffff;
}

.popular-btn{
    width: 100%;
}

.popular-btn:hover{
    color: #ffffff;
}


/* closed-photography */
.closed-photography-section{
    padding: 80px 0 80px;
    background-image: url('/images/closed-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.closed-photography-section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: .14;
    height: 100%;
    width: 100%;
}

.carousel-closed{
    background-color: #ffffff;
    border-radius: 20px;
}

.carousel-closed img{
    border-radius: 20px 20px 0 0;
}

.closed-carousel{
    padding: 20px;
}

.closed-carousel h4{
    font-size: 22px;
    font-weight: 600;
}
.closed-carousel h6{
    font-size: 20px;
    font-weight: 600;
}
.closed-carousel p{
    font-size: 16px;
    color: #a0a0a0;
}

/* contest-plans-section */

.contest-plans-section{
    padding: 80px 0 80px;
}

.plans-image{
    width: 75%;
    margin: auto;
}
.plans-divider{
    margin: 30px;
}
.plans-del{
    color: #a0a0a0;
}
.plans-btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .plans-image{
        width: 50%;
        margin: auto;
    } 
}